body {
    position: absolute;
    inset: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 100%;
    padding: 10px;
}

#translated-text {
    flex-grow: 3;
    min-width: 50px;
    word-wrap: break-word;
    display: inline;
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
}

#translated-text, #controls {
    border: thick solid darkblue;
    background-color: aliceblue;
}

#controls {
    padding: 0.5vw;
    align-self: self-start;
    text-align: center;
    height: 100%;
    overflow: auto;
    min-width: 150px;
}

select {
    padding: 0.2em;
    margin-bottom: 0.3em;
}

h4 {
    margin-bottom: 0;
}

#detected-dv::before {
    content: "Image Text:";
    text-decoration: underline;
}

#translated-dv::before {
    content: "Translated Text:";
    text-decoration: underline;
}

#detected-dv {
    overflow: auto;
    height: 50%;
    border-bottom: thick darkblue solid;
    background-color: beige;
}

#translated-dv {
    overflow: auto;
    height: 50%;
    background-color: blanchedalmond;
}